language: java
branches:
  only:
    - master
    - develop

script: "mvn cobertura:cobertura"
after_success:
  - bash <(curl -s https://codecov.io/bash)

deploy:
  provider: heroku
  on: master
  app:
    master: $HEROKU_APP_NAME
  api_key:
    master: $HEROKU_API_KEY